<nav>
  <a href="/">
    <h1 class="logo">Kin Blogs</h1>
  </a>
  <div>
    <ul>
      <a href="/about">
        <li class="nav-links">About</li>
      </a>
      <a href="/">
        <li class="nav-links">Blogs</li>
      </a>
      <a href="/blogs/create">
        <li class="nav-links">Create a blog</li>
      </a>
    </ul>
  </div>
</nav>
