<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita,
        dicta minima aliquid dolor esse facilis porro quasi voluptatum ipsum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita,
        dicta minima aliquid dolor esse facilis porro quasi voluptatum ipsum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita,
        dicta minima aliquid dolor esse facilis porro quasi voluptatum ipsum.
      </p>
    </section>
  </body>
</html>
